parameters:
  level: 5
  paths:
    # Bridges
    - libs/bridge/laravel-bridge/src
    # Components
    - libs/components/attributes/src
    - libs/components/client/src
    - libs/components/generator/src
    - libs/components/helpers/src
    # Contracts
    - libs/contracts/attributes-contracts/src
    - libs/contracts/client-contracts/src
