parameters:
  level: max
  paths:
    # Bridges
    - libs/bridge/laravel-bridge/src
    # Components
    - libs/components/attributes/src
    - libs/components/client/src
    - libs/components/http-client/src
    - libs/components/generator/src
    - libs/components/helpers/src
    # Contracts
    - libs/contracts/attributes-contracts/src
    - libs/contracts/client-contracts/src
    - libs/contracts/http-client-contracts/src
    - libs/contracts/generator-contracts/src
