<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="./vendor/autoload.php"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         testdox="true"
         colors="true"
         stopOnFailure="false"
         stopOnIncomplete="false"
>
    <testsuites>
        <testsuite name="bridges">
            <directory>libs/bridge/laravel-bridge/tests</directory>
        </testsuite>
        <testsuite name="components">
            <directory>libs/components/attributes/tests</directory>
            <directory>libs/components/client/tests</directory>
            <directory>libs/components/generator/tests</directory>
            <directory>libs/components/helpers/tests</directory>
        </testsuite>
        <testsuite name="contracts">
            <directory>libs/contracts/attributes-contracts/tests</directory>
            <directory>libs/contracts/client-contracts/tests</directory>
            <directory>libs/contracts/http-client-contracts/tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <!-- bridges -->
            <directory>libs/bridge/laravel-bridge/tests</directory>
            <!-- components -->
            <directory>libs/components/attributes/tests</directory>
            <directory>libs/components/client/tests</directory>
            <directory>libs/components/generator/tests</directory>
            <directory>libs/components/helpers/tests</directory>
            <directory>libs/http-client/helpers/tests</directory>
            <!-- contracts -->
            <directory>libs/contracts/attributes-contracts/tests</directory>
            <directory>libs/contracts/client-contracts/tests</directory>
            <directory>libs/contracts/http-client-contracts/tests</directory>
            <directory>libs/contracts/generator-contracts/tests</directory>
        </include>
    </source>

    <coverage />
</phpunit>
